@use '../../shared/colors' as *;
@use '../../shared/fonts' as *;
@use '../../shared/mixins' as *;

.header {
  border-bottom: 1px solid;
  border-color: $light-gray;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 6em;
  }

  .logo {
    margin: 0;

    svg {
      width: 17em;
      height: 2em;
    }
  }

  .header-buttons {
    display: flex;
    gap: 2em;
    align-items: center;

  }

  .header-button {
    @include button-base;
    color: $text-gray;
    &.active {
      color: $main-gray;
      text-decoration: underline solid $main-gray;
      text-underline-offset: 0.5em;
    }
    &:hover:not(.active) {
      color: $main-gray;
    }
  }

  .login-button {
    @include button-solid-light;
  }

  .logout-button, .signin-button {
    @include button-solid-dark;
  }
}
